/*Preview PDF Surat Tugas Kepegawaian*/

.box-body.surat{
	/*width: 70%;*/
	border: 1px solid black;
	margin: auto;
	font-family: 'Times New Roman';
	font-size: 11pt;
	margin-top: 0;
	margin-bottom: 1cm;
	margin-left: 4cm;
	margin-right: 4cm;
	padding: 2cm;    
	padding-bottom: 150px;
}

#kop_surat{
	border-bottom: 3px solid black;
	/*padding: 5px;*/
	/*overflow: hidden;*/
}

#logo{
	float: left;
	width: 15%;
}

#logo img{
	width: 100%;
	height: auto;
	margin-top: 10pt;
}

#keterangan_kop{
	text-align: center;
	margin-left: 70px;
	padding-bottom: 5pt;
	/*width: 90%;*/
	/* float: left; */
}

#body_surat{
	margin-left: 1cm;
	margin-right: 1cm; 
	text-align: justify;
}

.top-title{
	margin-top: 10px;
	text-align: center;
}

.judul_surat{
	font-size: 13pt;
	text-decoration: underline;
	font-weight: bold;
	letter-spacing: 1.5pt;
}

.header_14{
	font-size: 14pt;
}

.underline{
	text-decoration: underline;
}

.ttd-right{
	float: right;
	margin-top: 50px;
}

.space_row{
	padding-top: 2pt;
	padding-bottom: 2pt;
}


  /* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
}

th { 
  text-align: center;
  color: #000000; 
  font-weight: bold;
}

td, th { 
  padding: 6px; 
  border: 1px solid #ccc;  
}